.page-wrapper {
    background: linear-gradient(35deg, var(--accent2), var(--accent5), var(--accent3)); 
    min-height: auto; 
    margin: 0; 
    padding: 0; 
    position: relative;
}

.filter-container {
    width: 20%; 
    height: auto;
    margin-left: 20px;
    margin-top: 100px;
    border: 1px solid #95ffae; 
    box-shadow: 0px 0px 10px #95ffae;
    border-radius: 5px;
    background-color: #151b46; 
    color: var(--background);
    padding: 20px;
    float: left; 
}

.btn-primary1 {
    background-color: #2c4ed7; 
    color: var(--accent4); 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer;
}

.books-container {
    width: 50%;
    margin: auto; 
}

#search-bar-type {
    margin-top: 100px;
    margin-bottom: 15px;
}

.center-text {
    text-align: center;
}

.filter-container input[type="radio"] {
    margin-right: 7px;
    background-color: var(--accent2); 
    color: var(--background); 
}

.filter-container label {
    color: var(--background); 
}

.filter-container button:hover {
    background-color: var(--accent4); 
}

.filter-container input[type="number"],
.filter-container input[type="text"] {
    background-color: #2c4ed7; 
    color: var(--background); 
    border: 1px solid #95ffae;
    border-radius: 5px; 
    padding: 10px; 
}

.filter-container input[type="number"]::placeholder,
.filter-container input[type="text"]::placeholder {
    color: #95ffae;
}

.search_button {
    margin-left: 0px; 
    margin-top: 15px; 
    background-color: var(--accent5);
    color: var(--accent4);
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer; 
}

.search_button:hover {
    background-color: var(--accent4);
    color: var(--accent5);
}

/* Footer */
footer {
    font-family: 'Exo', sans-serif;
    background-color: var(--accent2);
    color: #ffffff; 
    padding: 10px;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    font-size: 14px;
    text-align: center; 
}