body {
    --background: #ffffff;
    --accent1: #606060;
    --accent2: #151b46;
    --accent3: #8fffff;
    --accent4: #95ffae;
    --accent5: #2c4ed7;
    --text_color: #000000;
}

/* Navbar */
.navbar {
    background-color: var(--accent2);
    border-bottom: 3px solid var(--accent1);
    width: 100%;
}

.navbar-brand {
    text-align: center;
    align-self: center;
    height: 60px;
    font-size: 2.45rem;
    font-family: 'Exo', sans-serif;
    color: #ffffff;
}

.navbar-nav {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.45rem;
    margin: 0;
}

.nav-link a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav-link a:hover {
    color: var(--accent3);
}

.dropdown-menu {
    background: rgba(0, 0, 0, 0.37);
    border: 1px solid var(--accent3);
    border-radius: 10px;
    margin-bottom: 10px;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    right: 0;
}

.dropdown-menu a {
    font-size: 1.25rem;
    padding-left: 10px !important;
    padding-right: 5px !important;
    color: #ffffff;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdown-menu a:hover {
    color: var(--accent4);
    background-color: var(--accent2);
}

.navbar-nav:hover .nav-link a {
    color: var(--accent3);
}

.navbar-nav:hover {
    background-color: var(--accent5);
}
