/* Fact boxes */
body
{ 

    --background: #ffffff;
    --accent1: #606060;
    --accent2: #151b46;
    --accent3: #8fffff;
    --accent4: #95ffae;
    --accent5: #2c4ed7;
    --text_color: #000000;
}

.dashboard_long_facts,
.dashboard_short_facts {
    border: 2px solid #606060; /* Gray */
    width: 400px;
    height: auto; /* Adjusted height to fit content */
    margin-bottom: 20px;
    margin-top: 50px; /* Added margin from the top */
}

.dashboard_long_facts {
    margin-left: 25px;
}

.dashboard_short_facts {
    margin-left: 100px;
}

/* Fact title */
.dashboard_long_facts h1,
.dashboard_short_facts h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #95ffae; /* Black */
    background-color: #151b46;
    
}

/* Fact content */
.dashboard_long_facts h2,
.dashboard_short_facts h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #000000; /* Black */
}

.dashboard_long_facts p,
.dashboard_short_facts p {
    font-size: 16px;
    color: #606060; /* Gray */
    line-height: 1.5;
}

.dashboard_long_fact_4 {
    margin-left: 100px; /* Increase margin to the left */
}

.hero
{
    background: -webkit-linear-gradient(35deg, var(--accent2), var(--accent5), var(--accent3));   
    border-radius: 10px;
    padding-top: 110px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    align-self: center;
    color: #95ffae;
}