@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Fact boxes */
.dashboard_fact_box {
    font-family: 'PT Sans Narrow', sans-serif;
    width: 300px; 
    height: auto;
    margin-top: 75px; 
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 10px; 
    background-color: var(--accent5); 
    box-shadow: 0px 0px 30px #95ffae;

    opacity: 0; 
    animation: fadeInUp 6s ease forwards; 
}

/* Fact title */
.dashboard_fact_box h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--accent3); 


    opacity: 0; 
    animation: fadeInUp 6s ease forwards; 
}

/* Fact content */
.dashboard_fact_box h2 {
    font-size: 23px; 
    margin-bottom: 5px;
    color: var(--accent2);

    opacity: 0; 
    animation: fadeInUp 6s ease forwards;
}

.dashboard_fact_box p {
    font-size: 16px;
    color: var(--background);
    line-height: 1.5;
}

.hero {
    background: -webkit-linear-gradient(35deg, var(--accent2), var(--accent5), var(--accent3));
    border-radius: 10px;
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    padding-top: 110px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    align-self: center;
    color: #95ffae;
}

.hero h1 {
    font-size: 60px; 
}

.hero h2 {
    font-size: 30px;
}

.hero h1, .hero h2 {
    animation: fadeIn 5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Footer */
footer {
    font-family: 'Exo', sans-serif;
    background-color: var(--accent2);
    color: #ffffff; 
    padding-top: 10px; 
    padding-bottom: 0px;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    font-size: 14px;
    text-align: center; 
}
