.page-wrapper3 {
    background: -webkit-linear-gradient(35deg, var(--accent2), var(--accent5), var(--accent3)); 
    min-height: 100vh; 
    margin: 0; 
    padding: 0; 
    position: relative;
}

.all-settings-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 5px;
    border: solid var(--accent4);
    box-shadow: 0 0 10px var(--accent4);
    width: 600px;
    max-width: 90%; 
    height: 400px;
    padding: 20px; 
    background-color: #ffffff9f;
    font-family: 'Exo', sans-serif;
    color: var(--accent2);
    font-size: 15px; 
}

.all-settings-container input[type='password'] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--accent4); /* Add green border */
    color: var(--accent2);
}


#logout {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    background-color: var(--accent2); 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    padding: 10px 20px; 
    cursor: pointer; 
}


.submit-button {
    position: absolute;
    bottom: 10px;
    right: 10px; 
    background-color: var(--accent2); 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    padding: 10px 20px; 
    cursor: pointer; 
}

.submit-button:hover, #logout:hover {
    background-color: var(--accent5);
    color: var(--accent4);
}

footer {
    font-family: 'Exo', sans-serif;
    background-color: var(--accent2);
    color: #ffffff; 
    padding-top: 10px; 
    padding-bottom: 0px;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    font-size: 14px;
    text-align: center; 
}
